body {
  font-family: Verdana;
  background-color: white;
}

a {
  color:inherit;
  text-decoration:none;
}

a:active, .visited{
  text-decoration:none;

}

a:hover{
  color: black;
  text-decoration:none;
}

div.k-page {
  width:100%;
}

.k-page__line {
  width: 100%;
}

.k-page__menu {
  width: 100%;
}

.k-menu {
  width: 1100px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  z-index: 20;
}

.k-menu__new {
  margin: 2px;
  float:left;
  padding: 5px 0;
}

.k-link_new {
  float: left;
  color: #171717;
  font-family: 'Verdana-Bold';
  font-size: 14px;
  line-height: 60px;
  padding: 0 12px;
  border-right: 1px solid #ededed;
  box-sizing: border-box;
  font-weight: 700;
}

.k-menu__rooms {
  float: left;
  margin: 2px;
  padding: 25px 0;
}

.k-link:hover{
  color: #78be20;
}

.k-link_menu {
  float: left;
  color: black;
  font-family: 'Verdana-Bold';
  font-size:14px;
  font-weight: 400;
  height: 12px;
  padding: 0 1em;
}

.k-link_menu_active {
  color: #78be20;
  font-weight: 700;
}

.k-scroll {
  width: 1100px;
  height: 3px;
  background-color: #ededed;
  margin: auto;
  padding: 0;
}

.k-page__header {
  color: black;
  font-family: Verdana-Bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  margin: 30px auto;
  text-align: center;
}




.k-slider {
  z-index: 9;
  width: 100%;
  height: 526px;
  overflow: hidden;
  margin: 0 auto 36px;
  position: relative;
}

.k-container {
  /*width: 2139px;*/
  width: 9999px;
  height: 526px;
  margin-left: calc((100% - 2139px + 10px)/2);
  position: relative;
}

.k-slider__img {
  margin-right: 10px;
  float: left;
  position: relative;
  opacity: 0.5;
}

.k-slider__img.center {
  opacity: 1;
}

.k-slider__text {
  color: white;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  bottom: 41px;
  text-align: center;
  width: 100%;
}

div.k-slider__nav  {
  opacity: 0.5;
  cursor: pointer;
}

div.k-slider__nav:hover  {
  opacity: 1;
}

.k-slider__arr-prev-ell {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 326px) ;
}

.k-slider__arr-prev-rect {
  position: absolute;
  bottom: 42px;
  left: calc(50% - 306px);
}

.k-slider__arr-next-ell {
  position: absolute;
  bottom: 24px;
  right: calc(50% - 326px);
}

.k-slider__arr-next-rect {
  position: absolute;
  bottom: 42px;
  right: calc(50% - 305px);
}



.k-slider ul, .k-slider li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.k-slider ul {
  width: 2109px;
}

.k-slider ul li {
  list-style-type: none;
  float: left;
  /*width: 700px;
  height: 290px;*/
}








div.k-page__main {
  width: 1060px;
  margin: 0 auto;
}

span.price {
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
}

span.name {
  font-size: 14px;
  font-weight: 700;
}

span.head-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

span.country {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.vertical-mode {
  margin-top: 10px;
}

.horizontal-mode {
  margin-right: 10px;
}

.horizontal-mode_ {
  margin-right: 9px;
}

.k-main__sign_left {
  position: absolute;
  left: 2em;
  bottom: 30px;
  color: white;
}

.k-main__sign_right {
  position: absolute;
  right: 2em;
  bottom: 30px;
  color: white;
}

.k-main__img {
  position: relative;
}

img.k-main__img.eskelen {
  margin-left:70px;
}

img.k-main__img.eskelen-kit {
  vertical-align: baseline;
}

img.k-main__img_signature {
  position: absolute;
  left: 151px;
  bottom: 87;
}

div.k-main__text {
  padding: 0 2em;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

div.k-main__text p{

}

div.k-main__text.barkabuda {
  height: 347px;
  padding-top: 20%;

}

div.k-main__text.sunnersta {
  height: 391px;
}

div.k-main__text.kalvia {
  height: 284px;
  padding-top: 10%;
}

div.k-main__text.eskelen {
  height: 203px;
}

div.k-main__text.graundvattnet {
  padding-top: 30%;
}

div.k-main__text.vardagen {
  padding-top: 5%;
}

div.k-main__text.pobbig {
  padding: 0 8em;
  padding-top: 27px;
}

div.row {
  margin: 36px auto 0;
  max-width: 1060px;
}

div.row.vertical-mode {
  margin-top: 10px;
}

div.row.vardagen {
  margin-top: 10px;
  padding-left: 120px;
  margin-bottom: 40px;
}

div.row.vardagen-set {
  margin-top: 10px;
  padding-left: 160px;
  margin-bottom: 40px;
}

div.row.green-button__all-kit {
  margin-top: 63px;
  margin-bottom: 71px;
}

.col-md-4 {
  padding: 0px;
  max-width: 347px;
  float: left;
}

.col-md-8 {
  padding: 0;
  max-width: 703px;;
  float: left;
}

.col-md-12 {
  padding: 0;
}

.k-green-button.center {
  margin: 0 auto;
  padding-left: 7em;
}

.k-green-button.vardagen {
  margin: none;
  margin-left: 2em;
  margin-top: 31px;
  padding-left: 3em
}

.k-green-button {
  width: 354px;
  height: 60px;
  background-color: #78be20;
}

span.k-green-button-text {
  color: white;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 700;
  float: left;
  margin-right: 17px;
  margin-top: 18px;
}

div.k-button-ellipse__img {
  position: relative;
  float: left;
  margin-top: 10px;
}

.k-button-rect__img {
  position: absolute;
  top: 12px;
  left: 16px;
}

img.k-main__set-vardagen {
  margin-right: 23px;
  float: none;
  vertical-align: baseline;
}

.k-main__img-glass{
  float: none;
  margin-left: 84px;
  margin-top: 78px;
}

.k-main__set-imgs {
  width: 174px;
  margin: 0 auto;
  border: 1px solid white;
  height: 34px;
}

.k-pobbig__img {
  margin-left: -20px;
  margin-top: -20px;
}

div.image-cropper {
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  float: left;
  cursor: pointer;
}

#green-glass {
  margin-right: 0px;
}

.footer {
  margin-top: 164px;
}
